// Topcoder colour palette
$tc-white: #FFFFFF;
$tc-black: #262628;
$tc-light_blue: #26ADE9;
$tc-light_blue-10: #E9F6FC;
$tc-orange: #FB7D22;
$tc-orange-10: #FFF0EB;
$tc-red-70: #FF5B52;
$tc-green: #60C700;
$tc-green-10: #EFFAE5;
$tc-gray-neutral-dark: #EBEBEB;
$tc-gray-neutral-light: #FAFAFB;
$tc-gold: #FCE217;
$tc-silver: #A9BCD4;
$tc-bronze: #BD731E;
$tc-gray-10: #EDEDF2;
$tc-gray-20: #DCDCE0;
$tc-gray-50: #888894;
$tc-gray-60: #747480;
$tc-gray-70: #5D5D66;
$tc-gray-80: #47474F;
$tc-dark-blue: #0B71E6;
$tc-dark-blue-10: #F4F9FF;
$tc-dark-blue-30: #CFE6FF;
$prize-color: #202A36;
