@import 'tc-includes';

.FileUploader {
  position: relative;

  .Loader {
    z-index: 1;
  }

  .UploadedFiles {
    margin-bottom: 20px;
  }

  .Dropzone {
    display: inline-block;
  }

  .drag-and-drop {
    .Dropzone {
      text-align: center;
      border    : 3px dashed $tc-gray-20;
      margin    : 10px;
      display   : block;

      p {
        font-size: 20px;
        margin: 30px 0px;
        color: $tc-gray-20;
      }
    }
  }

  .dropzone-container {
    text-align: center;
  }
}