@import "work/work-includes";

.FileUploader {
  position: relative;

  .Loader {
    z-index: 1;
  }

  .UploadedFiles {
    margin-bottom: 20px;
  }

  .Dropzone {
    display: inline-block;
  }

  .dropzone-container {
    text-align: center;
  }
}