@import '../../../styles/tc-styles';

$challenge-space-10: $base-unit * 2;
$challenge-space-15: $base-unit * 3;
$challenge-space-20: $base-unit * 4;
$challenge-space-30: $base-unit * 6;
$challenge-space-40: $base-unit * 8;

$challenge-radius-1: $corner-radius / 2;
$challenge-radius-4: $corner-radius * 2;

$search-bar-width: '100% - 640px';
$search-input-width: '100% - 56px';

.ChallengeSearchBar {
  display: inline-block;
  vertical-align: middle;
  margin-right: $challenge-space-40;
  @include calc( width, $search-bar-width);
  input:not([type="checkbox"]) {
    display: inline-block;
    @include calc( width, $search-input-width);
    background: $tc-white;
    border: 1px solid $tc-gray-20;
    border-radius: $challenge-radius-4 0 0 $challenge-radius-4;
    margin-bottom: 0;
  }

  @mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
  }
  @include placeholder {
    font-weight: 300;
    font-size: 15px;
    color: $tc-gray-50;
    line-height: $challenge-space-30 + 5;
    text-transform: capitalize;
    opacity: 1;
  }

  #SearchButton {
    display: inline-block;
    position: relative;
    top: 2px;
    background: $tc-gray-20;
    cursor: pointer;
    padding: $challenge-space-10 + 1 $challenge-space-20;
    border-radius: 0 $challenge-radius-4 $challenge-radius-4 0;
  }
}