@import '../../../styles/tc-styles';

.SimpleSwitch {
  cursor: pointer;
  margin-right: $base-unit * 3;
  font-weight: 400;
  font-size: 12px;
  color: $tc-gray-80;
  line-height: $base-unit * 4;
  > span {
    margin-right: $base-unit - 2;
  }
}