.ReactSvgLoaderDemo {
  div {
    margin: 12px;
  }
  em {
    font-style: italic;
  }
  svg {
    margin: 12px;
  }
  .red path {
    stroke: red;
  }
  .green path {
    stroke: green;
  }
  .blue path {
    stroke: blue;
  }
}