@import '~tc-ui/src/styles/tc-includes';

.Carousel {
  .StandardListItem {
    padding: 0px;
  }
}

.CarouselExamples {
  > p {
    border: 1px solid $tc-gray-40;
    margin: 20px 0px;
  }
  .limited-width {
    width: 200px;
  }
}