@import 'tc-styles';

.search-results {
  .exact-match,
  .members,
  .challenges {
    border-bottom: 1px solid $tc-gray-40;
    margin: 10px 0px;
    padding: 0px 10px 10px 10px;

    h2 {
      margin-bottom: 10px;
    }
  }
}
