@import 'tc-includes';

.Tooltip {
  @include roboto;
  position: relative;
  .tooltip-target {
    cursor: default;
    display: block;

    &.click-pointer {
      cursor: pointer;
    }
  }
  .tooltip-container {
    position: absolute;
    white-space: nowrap;
    display: block;
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear;
    z-index: 1000;

    &.tooltip-hide {
      visibility: hidden;
      opacity: 0;
    }

    .tooltip-content-container {
      width: 100%;
      overflow: hidden;
      padding: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      .tooltip-pointer {
        position: absolute;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        bottom: -5px;
        left: calc(50% - 5px);
      }

      .tooltip-body {
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
  //tooltip theme styling
  &.default {
    .tooltip-content-container {
      background-color: $tc-gray-80;
      color: #fff;
      //additional theme styling goes here
      .tooltip-pointer {
        background-color: $tc-gray-80;
      }
      .tooltip-body {
        color: #fff;
      }
    }
  }
  //tooltip light theme
  &.light {
    .tooltip-content-container {
      background-color: $tc-white;
      border: 1px solid $tc-gray-neutral-dark;
      box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
      color: $tc-gray-80;
      //additional theme styling goes here
      .tooltip-pointer {
        background-color: $tc-white;
        border-style: solid;
        border-color: $tc-gray-neutral-dark;

        &.downward-pointer {
          border-width: 0px 1px 1px 0px;
        }

        &.upward-pointer {
          border-width: 1px 0px 0px 1px;
        }

        &.leftward-pointer {
          border-width: 0px 0px 1px 1px;
        }
      }
      .tooltip-body {
        color: $tc-gray-80;
      }
    }
  }
}
