@import 'tc-styles';

.UserDropdownMenu {
  padding: 15px 20px;
  display: inline-block;
  position: relative;

  &.non-logged-in {
    .login-button {
      display: inline-block;
    }

    .join-button {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .dropdown-menu-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    
    .user-image {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 50%;
      vertical-align: middle;
    }

    .username {
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 16px;
      @include ellipsis;
      margin: 0px;
      margin-right: 10px;
      display: inline-block;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .dropdown-arrow {
      position: relative;
      top: 2px;
      display: inline-block;
    }
  }

  .Dropdown {
    margin-top: 8px;
    padding-bottom: 10px;
    width: 96%;

    ul {
      padding: 0;

      .user-menu-item {
        padding: 0 20px;
      }

      .user-menu-item:hover {
        background-color: $tc-gray-neutral-dark;
      }
    }

    ul:first-child {
      padding-top: 10px;
    }

    ul:not(:last-child) {
      li:last-child a {
        border-bottom: 1px solid $tc-gray-neutral-dark;
        display: block;
      }
    }
  }

  .Dropdown:before {
    right: 13px;
  }
}