@import "topcoder/tc-includes";

$user-dropdown-bg: #FAFAFB;
$placeholder-bg: #B47DD6;
$username-color: #737380;

.UserDropdownMenu {
  padding: 15px 20px;
  background-color: $user-dropdown-bg;
  display: inline-block;
  position: relative;

  .dropdown-menu-header {
    cursor: pointer;
    
    .user-image {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: $placeholder-bg;
      margin-right: 10px;
      border-radius: 50%;
      vertical-align: middle;
    }

    .username {
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: $username-color;
      margin-right: 10px;
      display: inline-block;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .dropdown-arrow {
      position: relative;
      top: -2px;
      display: inline-block;
    }
  }

  .Dropdown {
    margin-top: 8px;
    padding-bottom: 10px;
    width: 96%;

    ul {
      padding: 0;

      .user-menu-item {
        padding: 0 20px;
      }

      .user-menu-item:hover {
        background-color: $gray-light;
      }
    }

    ul:first-child {
      padding-top: 10px;
    }

    ul:not(:last-child) {
      li:last-child a {
        border-bottom: 1px solid $gray-light;
        display: block;
      }
    }
  }

  .Dropdown:before {
    right: 13px;
  }
}