@import '~tc-ui/src/styles/tc-includes';

.TaggedValue {
  display:inline-block;
  height: 20px;
  margin-right: 15px;

  .subText {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 500;
  }
  .tagged-value-bg{
    display: inline;
    padding: 1px 4px 1px 4px;
    min-width: 15px;
    max-height: 15px;
    background: $tc-gray-30;
    border-radius: 8px;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  $tc-gray-80;
  }

}

.prize {
  .TaggedValue:nth-child(1) {
    .tagged-value-bg {
      background: $tc-gold;
    }
  }
  .TaggedValue:nth-child(2) {
    .tagged-value-bg {
        background: $tc-silver;
    }
  }

  .TaggedValue:nth-child(3) {
    .tagged-value-bg {
        background: $tc-bronze;
    }
  }
}

.bonus {
  .TaggedValue:nth-child(1) {
    .tagged-value-bg {
      background: $tc-purple-70;
    }
  }
  .TaggedValue:nth-child(2) {
    .tagged-value-bg {
        background: $tc-purple-70;
    }
  }

  .TaggedValue:nth-child(3) {
    .tagged-value-bg {
        background: $tc-dark-blue-70;
    }
  }
}

.PrizeItems {
  .title {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
  }
  .items {
    margin-top: 10px;
  }
}

