@import '../../styles/tc-styles';

.challenge-filters {
  width: 100%;
  font-family: 'Roboto';
  .filter-header {
    background: $tc-gray-neutral-light;
    border-bottom: 1px solid $tc-gray-30;
    border-top: 1px solid $tc-gray-30;
    padding: 0 $base-unit * 4;
  }
  .SwitchWithLabel {
    margin-right: 10px;
  }
}
