@import 'topcoder/tc-includes';
@import '../../styles/tc-styles';

.challengeCard {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background: $tc-white;
  padding: 20px;
  border-top: 1px solid $tc-gray-10;
  color: $tc-black;
  font-size: 15px;
  font-family: 'Roboto-Medium', sans-serif;

  a, a:visited {
    color: $tc-black;
  }

  a:hover {
    color: $tc-dark-blue;
  }

  .left-panel {
    display: flex;
    justify-content: flex-start;
  }

  .right-panel {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
  }

  // Challenge track icon
  .challenge-track {
    display: inline-block;
    vertical-align: top;
  }

  // Challenge title, end date & technologies
  .challenge-details {
    display: inline-block;
    vertical-align: baseline;
    width: 320px;
    max-width: 330px;
    margin-right: 30px;

    .details-footer {
      margin-top: 10px;

      .date {
        font-size: 12px;
        color: $tc-gray-60;
        margin-right: 10px;
      }

      .technology {
        display: inline-block;
        text-align: center;
        padding: 0 7px;
        line-height: 19px;
        background: $tc-gray-neutral-dark;
        font-size: 10px;
        font-family: 'Roboto-Bold', sans-serif;
        color: $tc-gray-80;
        margin-right: 5px;
        border-radius: 3px;
        height: 19px;
      }

      .technology:hover {
        background: $tc-dark-blue-30;
      }
    }
  }

  // Challenge prizes
  .prizes-container {
    margin-right: 40px;
    display: inline-block;
    .tooltip-link {
      display: block;
    }
  }
  .prizes {
    display: inline-block;
    font-size: 13px;
    font-family: 'Roboto-Bold', sans-serif;
    color: $prize-color;
    line-height: 20px;

    .dollar {
      display: inline-block;
      color: $tc-gray-50;
      min-width: 11px;
    }

    .label {
      padding: 0 7px;
      background: $tc-gray-neutral-light;
      font-size: 10px;
      color: $tc-gray-70;
      border-radius: 3px;
    }
  }

  .hidden {
    display: none;
  }
}
