@import 'tc-styles';

.SubNav {
  background-color: $tc-gray-50;

  .StandardListItem {
    padding: 20px 0px;

    .label {
      color: $tc-gray-60;
    }

    .label:active,
    .label:hover {
      color: white;
    }
  }
}