@import 'topcoder/tc-includes';
@import '../../styles/tc-styles';

$subnav-item-bg-color: $tc-purple;
$subnav-item-text-color: #7A7F83;

.SubNav {
  background-color: $accent-gray-dark;

  .StandardListItem {
    padding: 20px 0px;

    .label {
      color: $subnav-item-text-color;
    }

    .label:active,
    .label:hover {
      color: $white;
    }
  }
}