@import 'topcoder/tc-includes';

.panel {
  .panel-header {
    line-height     : 23px;
    font-size       : 18px;
    display         : flex;
    justify-content : space-between;
    background-color: $gray;
    padding         : 10px;
  }

  .panel-body {
    border : 1px solid $gray;
    padding: 10px;
  }
}