@import '../../../styles/tc-styles';

$panel-space-7: $base-unit + 2;
$panel-space-10: $base-unit * 2;
$panel-space-15: $base-unit * 3;
$panel-space-20: $base-unit * 4;
$panel-space-25: $base-unit * 5;
$panel-space-30: $base-unit * 6;
$panel-space-50: $base-unit * 10;
$panel-space-100: $base-unit * 20;
$panel-space-110: $base-unit * 22;

$panel-radius-1: $corner-radius / 2;
$panel-radius-4: $corner-radius * 2;

.FiltersPanel {
  background: white;
  padding: $panel-space-15 $panel-space-20;
  width: 100%;
  position: relative;
  &.hidden {
    display: none;
  }
  #buttons {
    border-left: 1px solid $tc-gray-20;
    float: right;
    padding-left: $panel-space-20;
    position: absolute;
    right: $panel-space-20;
    top: $panel-space-15;
    button {
      display: block;
      text-transform: none;
      width: $panel-space-100 - 3;
      margin-left: 0;
      &.blue {
        color: $tc-white;
      }
      &.white {
        color: $tc-gray-70;
        margin-bottom: $panel-space-15;
      }
    }
  }

}
#filters {
  display: inline-block;
  width: 100%;
  .filter-row {
    display: flex;
    align-items: center;
    margin-right: $panel-space-100 + 17;
  }
  .filter {
    display: flex;
    align-items: center;
    &#keywords {
      margin-bottom: $panel-space-15;
    }
    label {
      display: inline-block;
      font-size: 13px;
      line-height: $panel-space-15;
      margin-right: $panel-space-15;
      min-width: $panel-space-50 + 8;
      text-align: right;
    }
    .Select {
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      &#keywordsFilter {
        @include calc( width, '100% - 56px');
      }
    }
    &#keywords .Select {
      @include calc( width, '100% - 211px');
    }
    &#track {
      display: flex;
      align-items: center;
      @include calc( width, '100% - 395px');
      margin-right: $panel-space-50;
    }
    &#dates {
      display: inline-block;
      text-align: left;
    }
  }

}
// filter by date
.filter#dates {
  .DateInput {
    padding: $base-unit - 3;
    line-height: $panel-space-20;
    width: $panel-space-110 + 2;

    input {
      padding: $base-unit;
      height: $panel-space-30;
      margin-bottom: 0;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
      color: $tc-black;
      line-height: $panel-space-15 + 1;
    }

    .DateInput__display-text,
    .DateInput__display-text--has-input {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
      color: $tc-black;
      line-height: $panel-space-15 + 1;
      padding-left: $panel-space-25;
    }
    .DateInput__display-text {
      position: relative;
      &::before {
        content: '';
        background-image: url('./calendar.svg');
        background-position: 0 0;
        background-repeat: no-repeat;
        width: $panel-space-15 - 1;
        height: $panel-space-15 - 1;
        display: inline-block;
        position: absolute;
        left: $panel-space-7;
        top: $panel-space-7 - 1;
      }
    }

  }
  .CalendarMonth table {
    font-weight: 400;
  }
  .CalendarMonth__caption {
    margin-bottom: $panel-space-10;
  }
  .DayPicker__week-header {
    font-weight: 400;
  }
  .DateRangePickerInput__arrow svg {
    width: $panel-space-15;
    height: $panel-space-15;
    fill: $tc-black;
  }
  .DateRangePicker__picker {
    top: $base-unit * 9;
  }
  .DateInput--with-caret::before {
    top: $panel-space-30 + 4;
  }
  .DateInput--with-caret::after {
    top: $panel-space-30 + 5;
  }

}

// filter by keywords
.filter {
  .Select-placeholder {
    font-weight: 300;
    font-size: 13px;
    color: $tc-gray-50;
    line-height: $panel-space-30 - 2;
  }
  .Select-input > input:not([type="checkbox"]) {
    height: $panel-space-30 - 2;
    border: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    transition: none;
    padding-left: 0;
    margin-bottom: 0;
    &:focus {
      border: none;
      box-shadow: none;
      background: transparent;
      border-radius: 0;
      transition: none;
    }
  }
  .Select-input {
    height: 28px;
  }
  .Select-control {
    height: $panel-space-30;
    border-radius: $corner-radius;
  }
  .Select-menu-outer {
    font-weight: 500;
    font-size: 13px;
  }
  .Select-value {
    background: $tc-gray-neutral-dark;
    border: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 10px;
    color: $tc-gray-80;
    line-height: $panel-space-10 + 2;
    margin-top: $base-unit - 1;
    border-radius: $corner-radius + 1;
    position: relative;
    .Select-value-label {
      padding: $base-unit - 1 $panel-space-25 $base-unit - 1 $panel-space-7;
    }
    .Select-value-icon {
      position: absolute;
      right: 0;
      top: 0;
      padding: $base-unit - 1 $panel-space-7;
      font-size: 14px;
      border: none;
      border-radius: 0 $corner-radius + 1 $corner-radius + 1 0 ;
    }
  }
  &#track {
    .Select-value {
      background: $tc-light_blue;
      color: $tc-white;
    }
  }
}
