@import '../../../styles/tc-styles';

$type-space-20: $base-unit * 4;
$type-space-60: $base-unit * 12;

$type-radius-1: $corner-radius / 2;
$type-radius-4: $corner-radius * 2;

.cards-type-col {
  img.alphaBadge {
    margin-bottom: -10px;
    margin-right: 15px;
  }
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  > a {
    font-family: 'Roboto';
    height: $type-space-60;
    font-weight: 400;
    font-size: 20px;
    color: $tc-gray-50;
    line-height: $type-space-60;
    display: inline-block;
    margin-right: $type-space-20;
    &.active {
      color: $tc-black;
      border-bottom: 3px  solid $tc-gray-70;
    }
  }
}
