@import '~tc-ui/src/styles/tc-includes';

:global {
  .form-container {
    .input-container {
      max-width: 400px;
      input {
        height: 30px;
      }
    }
    .field-title {
      font-size: 20px;
      font-weight: 200;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .field-value {
      margin-top: 10px;
    }
    .test {
      display: flex;
      flex-direction: row;
    }
    .tiled-group-item {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .check-mark {
      background: blue;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .padding-top-20{
      padding-top: 20px;
    }
    .padding-bottom-30{
      padding-bottom: 30px;
    }
  }
}
