@import "~tc-ui/src/styles/tc-includes";

:global {
  .basic-single-select{
    .select__input {
      input {
        height: 10px;
      }
    }

  }
  .formsySelectComponent {
    .Select-control > .Select-input > input,
    .Select-control > .Select-input > input:focus {
      box-shadow: none;
      outline: none;
      padding: 0;
      border: 0;
    }
  }
}
