@import '~tc-ui/src/styles/tc-includes';

:global {
  .slider-standard-container {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
}
