.sample1 {
    .tagged-value-bg {
        color: blue;
    }
    span {
        color: white;
    }
}

.sample2 {
    .tagged-value-bg {
        color: red;
    }
    span{
        color: lightblue;
    }
}
.divStyle {
   background-color:#47474F;
   padding:20px;
   width:320px
}