@import "work/work-includes";

.StepRow {
  .name {
    width: 162px;
  }

  .DateTime {
    margin-left: 20px;
    width: 135px;
  }

  .Select {
    width: 162px;
  }

  .icon.warning {
    margin-left: 10px;
  }

  .types {
    margin-left : 30px;
    margin-right: 10px;
    width       : 162px;
  }

  button[type="submit"] {
    margin-left: 15px;
  }
}