@import '~tc-ui/src/styles/tc-includes';

.Dropdown {
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;

  ul {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding: 11px 20px;
    border-radius: 5px;
    box-sizing: border-box;

    li {
      list-style: none;
    }

    li a {
      color: #394146;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 26px;
    }
  }
}

.Dropdown.hide {
  display: none;
}

.Dropdown.pointer-left:before {
  right: initial;
  left: 15px;
}

.Dropdown:before {
  content: " ";
  width: 15px;
  height: 15px;
  display: block;
  transform: rotate(45deg);
  background-color: #fff;
  position: absolute;
  right: 15px;
  top: -6px;
  border-radius: 5px;
}

.Dropdown.pointer-hide:before {
  display: none;
}

.Dropdown.pointer-shadow:before {
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.17);
}