@import 'tc-styles';

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

* {
    &,
    &:before,
        &:after {
        box-sizing: border-box;
    }
}

xlabel{
    display:block;
    width:600px;
    margin: 10px auto;
    text-transform: none;
    @include tc-label;
    color: $tc-gray-70;
    font-size: 13px;
}

.error-message{
    display:block;
    width:600px;
    margin: 5px auto;
    @include roboto;

    color: $tc-gray-70;
    font-size: 13px;
    line-height:20px;
    font-style:italic;
    border: 1px solid $tc-red-30;
    background: $tc-red-10;
    color: $tc-red-70;
    padding:10px;
    border-radius: 2px;
    strong{
        @include roboto-bold;
    }
}

input{
    display:block;
    width:600px;
    margin: 0 auto;
    color: $tc-black;
    background: $tc-gray-neutral-light;
    border-color: $tc-gray-20;
    @include tc-label;

    &[disabled]{
        color: $tc-gray-20;
        background: $tc-white;
    }

    &:hover{
        border-color: $tc-gray-40;
        background: $tc-gray-neutral-light;
    }

    &:focus{
        background: $tc-white!important;
        border-color: $tc-dark-blue-90!important;
    }

    &.error{
        border-left: 3px solid $tc-red-70!important;
        background: $tc-gray-neutral-light!important;
        &:focus{
            background: $tc-white!important;
            border-color: $tc-dark-blue-90!important;
        }
    }
}

textarea{
    display:block;
    width:600px;
    margin: 0 auto;
    height: 100px;
    color: $tc-black;
    background: $tc-gray-neutral-light;
    border-color: $tc-gray-20;
    @include tc-label;
    font-size:15px;
    line-height:20px;
    box-shadow: none;

    &[disabled]{
        color: $tc-gray-20;
        background: $tc-white;
    }

    &:hover{
        border-color: $tc-gray-40;
    }

    &:focus{
        background: $tc-white!important;
        border-color: $tc-dark-blue-90!important;
    }

    &.error{
        border-left: 3px solid $tc-red-70!important;
        background: $tc-gray-neutral-light!important;
        &:focus{
            background: $tc-white!important;
            border-color: $tc-dark-blue-90!important;
        }
    }
}
