@import 'tc-includes';

.row {
  margin-bottom: 20px;
  &.center{
    display: table;
    margin: 0 auto;
    label{
      display: inline;
    }
    input{
      display: inline;
      width: 100px;
    }
  }
}
label{
  display:block;
  margin: 10px auto;
  text-transform: none;
  @include tc-label-md;
  color: $tc-gray-70;
  font-size: 13px;
}

.error-message{
  display:block;
  margin: 5px auto;
  @include roboto;

  color: $tc-gray-70;
  font-size: 13px;
  line-height:20px;
  font-style:italic;
  border: 1px solid $tc-red-30;
  background: $tc-red-10;
  color: $tc-red-70;
  padding:10px;
  border-radius: 2px;
  strong{
    @include roboto-bold;
  }
}

input {
  display:block;
  margin: 0 auto;
  color: $tc-black;
  background: $tc-gray-neutral-light;
  border-color: $tc-gray-20;
  @include tc-label-md;

  &[disabled]{
    color: $tc-gray-20;
    background: $tc-white;
  }

  &:hover{
    border-color: $tc-gray-40;
    background: $tc-gray-neutral-light;
  }

  &:focus{
    background: $tc-white!important;
    border-color: $tc-dark-blue-90!important;
  }

  &.error{
    border-left: 3px solid $tc-red-70!important;
    background: $tc-gray-neutral-light!important;
    &:focus{
      background: $tc-white!important;
      border-color: $tc-dark-blue-90!important;
    }
  }
}

textarea{
  display:block;
  margin: 0 auto;
  height: 100px;
  color: $tc-black;
  background: $tc-gray-neutral-light;
  border-color: $tc-gray-20;
  @include tc-label-md;
  font-size:15px;
  line-height:20px;
  box-shadow: none;

  &[disabled]{
    color: $tc-gray-20;
    background: $tc-white;
  }

  &:hover{
    border-color: $tc-gray-40;
  }

  &:focus{
    background: $tc-white!important;
    border-color: $tc-dark-blue-90!important;
  }

  &.error{
    border-left: 3px solid $tc-red-70!important;
    background: $tc-gray-neutral-light!important;
    &:focus{
      background: $tc-white!important;
      border-color: $tc-dark-blue-90!important;
    }
  }
}

.checkbox-group-input {
}
.checkbox-group-item {
  display: inline-block;
  margin-right: 42px;
  label {
    @include roboto-bold;
    color: $tc-gray-80;
    margin-right: 0;
  }
}

.radio-group-input {
  .radio-group-label {
    @include tc-label-md;
    margin-right: 20px;
  }
  .radio-group-options {
    display: flex;
    flex-direction: row;
    .radio {
      margin: 0;
      input[type="radio"] {
        opacity: 0;
        display: none;
      }
      label {
        display: inline-block;
        line-height: 19px;
        padding-left: 26px;
        position: relative;
        @include tc-label-md;
        font-size:14px;
        color: $tc-black;
        margin-right: 30px;
        &:before {
          border: 1px solid $tc-gray-20;
          border-radius: 50%;
          background-color: #fff;
          content: "";
          display: inline-block;
          height: 19px;
          left: 0;
          position: absolute;
          top: 0;
          width: 19px;
        }
      }
      input[type="radio"]:checked + label:after {
        background: $tc-dark-blue-90;
        border-radius: 50%;
        content: "";
        display: inline-block;
        left: 4px;
        position: absolute;
        top: 4px;
        height: 11px;
        width: 11px;
      }
    }
  }
}
